<div class="purple">

  <div class="results-box">
    <mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="cups">
        <mat-header-cell *matHeaderCellDef>cups (c)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cups}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tablespoons">
        <mat-header-cell *matHeaderCellDef>tbsp</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tablespoons}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="teaspoons">
        <mat-header-cell *matHeaderCellDef>tsp</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.teaspoons}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="grams">
        <mat-header-cell *matHeaderCellDef>grams (g)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.grams}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="this.displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: this.displayColumns;"></mat-row>
    </mat-table>
  </div>
</div>