@if (dataSource.data.length > 0 || showWhenEmpty) {
  <div [ngClass]="getResultClass()">
    <div class="center count-row">
      <p class="bold">{{ dataSource.data.length }} Result(s)</p>
      @if (showBulkActions && service.selectedForList.size > 0) {
        <div class="bulk-actions">
          <button
            mat-flat-button
            color="primary"
            (click)="openBulkAddToList()"
          >
            Add {{ service.selectedForList.size }} to List
          </button>
          <button
            mat-button
            class="clear-selection"
            (click)="clearSelection()"
          >
            Clear
          </button>
        </div>
      }
    </div>
    <div class="center">
      <div
        [ngClass]="getResultBoxClass()"
        class="table-shell"
        [class.compact]="removeColumns"
        matSort
        (matSortChange)="sortData()"
      >
        <div
          class="mat-mdc-header-row"
          role="row"
          [style.padding-right.px]="scrollbarGutter"
        >
          <div
            class="mat-mdc-header-cell mat-column-name"
            role="columnheader"
            mat-sort-header="name"
          >
            Name
          </div>
          <div
            class="mat-mdc-header-cell mat-column-author"
            role="columnheader"
            mat-sort-header="author"
          >
            Author
          </div>
          @if (!removeColumns) {
            <div
              class="mat-mdc-header-cell mat-column-category"
              role="columnheader"
              mat-sort-header="category"
            >
              Category
            </div>
            <div
              class="mat-mdc-header-cell mat-column-filename"
              role="columnheader"
              mat-sort-header="filename"
            >
              Number
            </div>
          }
          @if (showUnfavorite || showRemoveRecent || showAddToList) {
            <div
              class="mat-mdc-header-cell mat-column-actions"
              role="columnheader"
            >
              @if (showAddToList) {
                <mat-checkbox
                  class="select-checkbox"
                  [checked]="service.selectMode"
                  (change)="setSelectMode($event.checked)"
                  aria-label="Select multiple recipes to add to a list"
                ></mat-checkbox>
              }
            </div>
          }
        </div>

        @if (dataSource.data.length === 0) {
          <p class="no-results">No recipes match this search</p>
        }

        <cdk-virtual-scroll-viewport
          #viewport
          [itemSize]="rowHeight"
          class="table-viewport"
          [style.height.px]="dataSource.data.length * rowHeight"
        >
        <mat-table
          [dataSource]="this.dataSource"
        >
          <!-- name Column -->
          <ng-container matColumnDef="name">
            <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
          </ng-container>
          <!-- author Column -->
          <ng-container matColumnDef="author">
            <mat-cell *matCellDef="let element">
              {{ element.author }}
            </mat-cell>
          </ng-container>
          <!-- category Column -->
          <ng-container matColumnDef="category">
            <mat-cell *matCellDef="let element">
              {{ getCategory(element.category) }}
            </mat-cell>
          </ng-container>
          <!-- filename Column -->
          <ng-container matColumnDef="filename">
            <mat-cell *matCellDef="let element">
              {{ element.filename }}
            </mat-cell>
          </ng-container>
          <!-- actions Column -->
          <ng-container matColumnDef="actions">
            <mat-cell *matCellDef="let element">
              @if (showUnfavorite) {
                <button
                  mat-icon-button
                  color="warn"
                  class="actions-button"
                  (click)="unfavoriteRow(element, $event)"
                  aria-label="Remove favorite"
                >
                  <mat-icon>favorite</mat-icon>
                </button>
              }
              @if (showRemoveRecent) {
                <button
                  mat-icon-button
                  class="actions-button"
                  (click)="removeRecent(element, $event)"
                  aria-label="Remove from recently visited"
                >
                  <mat-icon>close</mat-icon>
                </button>
              }
              @if (showAddToList) {
                <button
                  mat-icon-button
                  class="actions-button"
                  (click)="openAddToList(element, $event)"
                  aria-label="Add to list"
                >
                  <mat-icon>playlist_add</mat-icon>
                </button>
              }
            </mat-cell>
          </ng-container>
          <mat-row
            *matRowDef="let row; columns: this.displayColumns"
            [class.selected]="
              showAddToList &&
              service.selectMode &&
              service.selectedForList.has(row.filename)
            "
            (click)="click(row, $event)"
          ></mat-row>
        </mat-table>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
}
