h1 {
  display: flex;
  margin: 5vh;
  font-size: 100px;
}

input {
  border: 1px solid black;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

input {
  height: 4vh;
  width: 20vw;
}

.form-field {
  width: 20vw;
}

.dropdown-ctn {
  display: flex;
  align-items: center;
}

.dropdown__label {
  margin-right: 5px;
}

.results {
  margin-top: 50px;
}

.results-box {
  height: 55vh;
  width: 60%;
}

.span {
  display: inline-flex;
  width: 100%
}

.result {
  height: 6vh;
  width: 40vw;
  cursor: pointer;
}

.author {
  justify-content: center;
}

.name {
  width: 50%
}

.quarter {
  width: 33%
}

.bold {
  font-weight: bold;
}

.mat-header-row {
  display: flex;
}

.mat-row {
  cursor: pointer;
  display: flex;
}


.mat-table, mat-expansion-panel, mat-label, input {
  background: #D1C4E9;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
