<div class="purple">
  <h1 class="center">Family Recipes</h1>

  <div>
    <div class="center">
      <mat-form-field class="form-field">
        <mat-label class="mat-label">Search</mat-label>
        <div class="center input">
          <input [formControl]="searchControl" data-search-input matInput type="text">
          <div class="center">
            <mat-icon (click)="search('')">search</mat-icon>
          </div>
        </div>
      </mat-form-field>
    </div>

    <div class="center searchDiv">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Advanced Search
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-checkbox [formControl]="familyControl">Hooper Family Only</mat-checkbox>

          <div class="dropdown-ctn">
            <div class="dropdown__label" data-dropdown-label>
              Category
            </div>
            <div class="dropdown__data">
              <mat-form-field class="dropdown-form-field">
                <mat-select [formControl]="categoryControl" (selectionChange)="search()">
                  <mat-option *ngFor="let cat of this.categories" [value]="cat.value" data-dropdown-option>
                    {{cat.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="center" *ngIf="favoritesDataSource.data.length > 0">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Favorites
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-recipe-table [dataSource]="favoritesDataSource" [removeColumns]="true"></app-recipe-table>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <app-recipe-table [dataSource]="dataSource"></app-recipe-table>
  </div>
</div>